.results-nav {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.results-nav > .btn {
  margin: 0;
  border-radius: 0;
  border: solid 1px #3c213c;
}

.results-nav > .btn:last-child {
  border-right: solid 2px #3c213c;
}

.results-nav > .btn:first-child {
  border-left: solid 2px #3c213c;
}


h1, h3 {
  color: #4d5568 !important;
}

.stats-row {
  width: 75%;
  display: flex;
  flex-basis: 33.3333333%;
  justify-content: space-around;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  padding: 1rem;
  margin: auto;
}

.stats-block {
  padding: 1.5rem;

}

.container {

}

.stat-label {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.stat-description {
  text-align: center;
}

.footer {
  text-align: center;
  border: 0;
  background: transparent;
  padding: 1rem;
}

.abstract {
  display: flex;
  justify-content: center;
}

.abstract > img {
  height: 16rem;
}

.content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
}

.page-header {
  max-height: max-content !important;
}

.sub-title {
  font-size: 2rem;
}

.explore-nav {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

@media (max-width: 800px) {
  .explore-nav {
    justify-content: center;
  }
}


@media (max-width: 500px) {
  .results-nav {
    width: 58vw;
    overflow-y: scroll;
  }
}

.test-nav {
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
}


.btn-neutral {
  background: #fab1b45c!important;
  color: #222a42 !important
}

.btn-neutral:hover {
  background: #fab1b4a6 !important;
}

.example-label {
  width: 125%;
  padding-bottom: 1.1rem
}

.main-label {
  font-weight: 600;
  padding-bottom: 4rem;
  text-transform: none !important;
}

.selected-button {
  -webkit-transform: translateY(-1px);
  background: #fab1b4d1 !important;
}

.disabled-button, .disabled-button:hover {
  -webkit-transform: translateY(-1px);
  background: #fab1b42e !important;
}


.wrong-answer, .wrong-answer:hover, .wrong-answer:visited, .wrong-answer:active .wrong-answer:target, .wrong-answer:focus {
  background: #ff3c3ce0 !important;
  transform: none !important;
}

.correct-answer, .correct-answer:hover, .correct-answer:visited, .correct-answer:active, .correct-answer:target, .correct-answer:focus {
  background: #63ff3ce0 !important;
  transform: none !important;
}

.bs-tooltip-top {
  background: #00bbff !important;
}

.tooltip-inner {
  font-size: 1rem !important;
}

.results-container {
}

.btn {
  cursor: pointer !important;
}

h3 {
  color: #222a42 !important;
  font-size: 30px;
  font-weight: 600;
}

.results-nav-container {
  height: 178px;
  overflow-y: scroll;
}

.explainer {
  font-size: 18px;
  padding-top: 20px;
}

.hint-label {
  font-size: 16px;
  padding: 7px 3px 0 3px;
}

.fas {
  padding-left: 3px;
  padding-right: 1px;
}