.page-header .content-center {
  color: black !important;
  width: 90%;
  max-width: none;
  margin: auto;
}

.content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
}




.padding-bottom {
  padding-bottom: 4rem;
}

.main-label {
  font-weight: 600;
  text-transform: none !important;
  font-size: 3.6rem;
  color: #fd969e !important;
}

.leaderboard-container {
  width: 100%;
  min-height: 400px;
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 5%);
}

ul li, ol li {
  color: black;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

@media (max-width: 767px) {
  .main-label {
    font-size: 3rem !important;
  }
}

.ai-leaderboard > .main-label {
  font-size: 3.5rem;
}

.stats-page-ref {
  color: #fd969e !important;
}

.medium-note {
  //max-width: 590px;
}


.nav-tabs-danger {
  padding-top: 13rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.col-2-AI-leaderboard {
  width: 70%;
  text-align: left;
  margin-left: 16px;
}

.small-note {
  margin-top: 15px;
  color: grey;
  font-size: 0.8rem;
}

.responsive-table {
  padding: 0;
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  //.table-header {
  //  background-color: #95A5A6;
  //  font-size: 14px;
  //  text-transform: uppercase;
  //  letter-spacing: 0.03em;
  //}
  .table-row, .table-header {
    width: 100%;
    background-color: #fbdddf;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1-leaderboard {
    width: 5%;
  }
  .col-2-leaderboard {
    width: 50%;
    text-align: left;
    margin-left: 16px;
  }
  .col-3-leaderboard, .col-4-leaderboard, .col-5-leaderboard {
    width: 15%;
  }

  .table-header {
    .col-3-leaderboard, .col-4-leaderboard, .col-5-leaderboard {
      font-size: 12px;
    }
  }


  @media all and (max-width: 767px) {
    .col-2-leaderboard {
      margin-left: 0px;
    }

    .col-1-leaderboard, .col-2-leaderboard, .col-3-leaderboard, .col-4-leaderboard, .col-5-leaderboard {
      width: 134px;
    }

    .table-header {
      display: none;
    }
    .table-row{

    }
    li {
      display: block;
    }
    .col-leaderboard {

      flex-basis: 100%;

    }
    .col-leaderboard {
      display: flex;
      padding: 10px 0;
      justify-content: space-between;
      &:before {
        color: #6C7A89;
        width: 20px;
        content: attr(data-label);
        text-align: right;
      }
    }
  }
}

